<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>country</key>
		<string>Japan</string>
		<key>stationName</key>
		<string>Tokyo</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>memo</key>
		<string></string>
	</dict>
	<dict>
		<key>country</key>
		<string>Japan</string>
		<key>stationName</key>
		<string>Kyoto</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>memo</key>
		<string></string>
	</dict>
	<dict>
		<key>country</key>
		<string>Japan</string>
		<key>stationName</key>
		<string>Ueno</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>memo</key>
		<string></string>
	</dict>
	<dict>
		<key>country</key>
		<string>Japan</string>
		<key>stationName</key>
		<string>Ikebukuro</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>memo</key>
		<string></string>
	</dict>
	<dict>
		<key>country</key>
		<string>Japan</string>
		<key>stationName</key>
		<string>Shinjuku</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>memo</key>
		<string></string>
	</dict>
	<dict>
		<key>country</key>
		<string>Japan</string>
		<key>stationName</key>
		<string>Akihabara</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>memo</key>
		<string></string>
	</dict>
	<dict>
		<key>country</key>
		<string>United States</string>
		<key>stationName</key>
		<string>New York</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>memo</key>
		<string></string>
	</dict>
	<dict>
		<key>country</key>
		<string>United States</string>
		<key>stationName</key>
		<string>Alabama</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>memo</key>
		<string></string>
	</dict>
	<dict>
		<key>country</key>
		<string>United States</string>
		<key>stationName</key>
		<string>Alaska</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>memo</key>
		<string></string>
	</dict>
	<dict>
		<key>country</key>
		<string>United States</string>
		<key>stationName</key>
		<string>California</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>memo</key>
		<string></string>
	</dict>
	<dict>
		<key>country</key>
		<string>United States</string>
		<key>stationName</key>
		<string>Florida</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>memo</key>
		<string></string>
	</dict>
	<dict>
		<key>country</key>
		<string>United Kingdom</string>
		<key>stationName</key>
		<string>London</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>memo</key>
		<string></string>
	</dict>
	<dict>
		<key>country</key>
		<string>United Kingdom</string>
		<key>stationName</key>
		<string>Lincoln</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>memo</key>
		<string></string>
	</dict>
	<dict>
		<key>country</key>
		<string>United Kingdom</string>
		<key>stationName</key>
		<string>Manchester</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>memo</key>
		<string></string>
	</dict>
	<dict>
		<key>country</key>
		<string>United Kingdom</string>
		<key>stationName</key>
		<string>Hertford</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>memo</key>
		<string></string>
	</dict>
	<dict>
		<key>country</key>
		<string>United Kingdom</string>
		<key>stationName</key>
		<string>Oxford</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>memo</key>
		<string></string>
	</dict>
</array>
</plist>
